


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Colors: 
Green: 23BE53
Black: #060608
Grey: #333333
for fonts: #E7DFDD
 */


/* General Styles */

*{
  font-family: 'Inter', sans-serif;
  font-size: 1.03em;
  color: white;
}

body{
  overflow-x: hidden;
}

.btn {
  font-family: 'Inter';
  border: none;
  background-color: #23BE53;
  font-size: 0.8em;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
}


.black{
  background-color: black;
  width: 100%;
}

.grey{
  background-color: #333333;
  width: 100%;
}

.dot{
  height: 17px;
  width: 17px;
  background-color: #23BE53;
  border-radius: 50%;
  display: inline-block;
}

.dotGreen{
  height: 17px;
  width: 17px;
  background-color: #23BE53;
  border-radius: 50%;
  display: inline-block;
}

.dotYellow{
  height: 17px;
  width: 17px;
  background-color: #ffd037;
  border-radius: 50%;
  display: inline-block;
}

.dotRed{
  height: 17px;
  width: 17px;
  background-color: #ff5252;
  border-radius: 50%;
  display: inline-block;
}

/* Header */

.header{
  background-color: black;
}

.logo{
 margin: 20px 0;
}

.nav{
  float: right;
  margin: 20px 0 0 0;
  text-align: right;
}

.nav ul li{
  display: inline-block;
  font-weight: 700;
}

.nav ul li a{
  font-weight: 600;
}

.nav ul li a:hover{
  color: #23BE53;
  transition: 0.3s;
}

.nav ul li button a:hover{
  color: white;
}

.nav ul li button:hover{
  background-color: #1b9240;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.nav ul li:last-child:hover{
  column-rule: #333333;
  cursor: pointer;
}


.nav ul li:nth-child(1), ul li:nth-child(2){
  padding: 15px 20px 0 0;
}

.nav ul li:last-child {
  padding: 0 0 0 70px;
}

/* First Section */

.black span{
  position: absolute;
  top: 200px;
  left: 35px;
}

.black span:nth-child(2){
  top: 550px;
  left: 1100px;
}

.text{
  margin-top: 100px;
}

/* Vertical line */
.text span{
  content: "";
  display: inline-block;
  width: 2px;
  height: 14px;
  background: rgb(0, 240, 72);
  margin: 5px auto 10px auto;
  position: absolute;
  top: 99px;
  left: 11px;
}

.text h1{
  font-size: 1em;
  font-weight: 600;
  margin: 0 0 40px 10px ;
}

.text h2{
  color: #23BE53;
  font-weight: 600;
  font-size: 1.6em;
}

.text p{
  margin: 40px 0;
  font-size: 0.8em;
  font-weight: normal;
  width: 400px;
}

.back_image{
  margin: 100px 0 0 0;
  display: inline-block;
}

.img1{
  margin: 0 0 0 40px;
  width: 100%;
  transform: rotate(-20deg);
}

.img2{
  width: 500px;
  top: 40px;
  left: 460px;
  position: absolute;
}

.img3{
  margin-top: -18px;
  padding: 0 0 40px 0 ;
}

.img4{
  position: absolute;
  left: 450px;
  top: 0px;
}

.img5{
  position: absolute;
  top: 0px;
  left: 850px;
}

/* Icons */

.icons{
  position: absolute;
  background-color: black;
  top: -30px;
  left: 350px;
  text-align: center;
  border-radius: 10px;
  width: 250px;

}

.icons ul li:first-child{
  display: inline-block;
  margin: -10px 0 0 8px;
  padding: 20px 0;
  
}

.icons ul li:last-child{
  display: inline-block;
  margin: -10px 0 0 20px;
  padding: 20px 0;
}

.icons ul li i:hover{
  color: #23BE53;
  transition: 0.3s;
}

/* Section Stacks */

.stacks{
  margin: 200px 0 0 0 ;
}

.stacks h1{
  font-size: 1.4em;
  font-weight: 600;
}

.stacks span{
  margin: 0 0 0 90px;
}


.stacks ul li{
  background: rgb(0, 0, 0);
  border-radius: 20px;
  text-align: center;
  margin: 0 90px;
  border-bottom: 40px solid #23BE53;
  box-shadow: 0px 10px 3px rgba(51, 51, 51, 0.705);
  z-index: 2;
}

.stacks ul li img{
  width: 82px;
  padding: 40px 0 50px 0 ;
  display: block;
  margin: 0 auto;
}

.stacks .html{
  margin: 200px 0 0 0;
  position: relative;
  
}

.stacks .css{
  margin: 195px 0 0 0px;
  position: relative;
  
  
}

.stacks .js{
  position: relative;
  padding-left: 20px;

}

.stacks ul li span{
  margin: 0 auto;
  display: inline-block;
  width: 200px;
  padding: 0 0 20px 0;
}

.stacks ul li span i{
  color: #23BE53;

}

.stacks ul li span p{
  font-size: 0.8em;
  display: inline;

}

.stacks .vetor{
  position: absolute;
  width: 60%;
  top: 300px;
  left: -140px;
  z-index: 0;
}

.stacks .vetor2{
  position: absolute;
  width: 60%;
  top: 350px;
  left: 520px;
  z-index: 0;
  transform: scaleX(-1) rotate(30deg);
}

/* Section Projects */



.projetos{
  margin: 150px 0 0 0;
}

.projetos_lista{
  text-align: center;
}

.projetos .dot{
  margin: 0 0 0 110px;
}

.projetos span{
  margin: 0 2px 0 0;
  
}

/* Site Blade1YT */

.projetos h1{
  font-size: 1.4em;
  font-weight: 600;
}

.projetos h2{
  font-size: 1em;
  margin: 10px 0 0 0;
  font-weight: 600;
}

.projetos ul li img{
  width: 92%;
}

.projetos ul li{
  background: black;
  border-radius: 10px;
  text-align: center;
  margin: 70px 0 0 40px;
  border-bottom: 43px solid #23BE53;
  position: relative;
  display: inline-block;
}

.projetos ul li div{
 float: left;
 margin: 20px 0 20px 20px;
}

.projetos ul li p{
  margin: 10px 0 50px 0;
  font-size: 0.6em;

}

.projetos ul li i{
  color: #000;
  position: absolute;
  left: 110px;
  top: 306px;
}

.projetos ul li i:hover{
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

/* Landing Page */

.projetos .landing h2{
  margin: 10px 0 0 20px;
}


.projetos .landing div{
  margin: 4px 0 14px 20px;
}

.projetos .landing img{
  margin: 7px 0 0 20px;
  height: 124px;
}

.projetos .landing p{
  margin: 10px 0 50px 20px;
}

ul li .landing_page{
  margin: 0 auto;
}


/* Churrascometro */

ul li.churras p{
  width: 230px;
  margin-left: 15px;
  margin-bottom: 22px;

}

/* Amazing Graphs */

ul li.amazing{
  margin-right: 400px;
  
}

/* Sobre mim */

.sobre_mim{
  margin: 150px 0 0 0;
}

.sobre_mim span{
  margin-left: 140px;
}

.sobre_mim h1{
  margin-bottom: 100px;
  font-size: 1.4em;
  font-weight: 600;
}

.sobre_mim_text{
  background-color: black;
  width: 800px;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 43px solid #23BE53;
}

.sobre_mim_text .dot{
  margin: 10px 0 0 765px;
}

.sobre_mim_text h2{
  color: #23BE53;
  font-weight: 600;
  font-size: 1.5em;
  margin: 10px 0 30px 50px;
}

.sobre_mim_text p{
  font-weight: 300;
  width: 400px;
  margin: 0 0 50px 50px;
}

.sobre_mim_text ul:first-child{
  list-style-type: none;
  margin-bottom: 30px;
  display: inline-block;
  margin: -50px 0 0 0;
}

.sobre_mim_text ul li:first-child{
  margin: 0 0 -17px 70px;
}

.sobre_mim_text ul li{
  margin: 0 0 0 70px;

}

.sobre_mim_text .dot_list::before{
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #23BE53; /* Change the color */
  width: 1em;
  margin-left: -1em;
  margin-right: 10px;
}

.sobre_mim_icons{
  list-style-type: none;
  margin: -200px 0 20px 650px;
}


.sobre_mim_icons li img{
  margin-bottom: 10px;
  width: 40px;
}

.sobre_mim_icons li img:nth-child(3){
  width: 30px;
}

.sobre_mim_icons .html{
  width: 40px;
}

.sobre_mim_icons .photo{
  width: 40px;
}

.sobre_mim_icons li::before{
  content: none;
}

/* Footer */

.footer{
  background-color: #23BE53;
  text-align: center;
  margin: 200px 0 0 0;
}

.footer img{
  margin: 15px 0 0 0;
}

.footer h3{
  padding: 30px 0 0 0;

}

.footer h3 a:hover{
  color: #000;
  transition: 0.3s;
}

.footer ul{
  text-align: right;
}

.footer ul li{
  display: inline-block;
  padding: 10px 5px 0 0;
  
}

.footer ul li i:hover{
  color: #000;
  transition: 0.3s;
  
}

/* Media Queries */

@media only screen and (max-width: 767px){

  /* Header */
  html, body{
    width: 100%;
    overflow-x: hidden;
    
  }

  .header img{
    width: 200px;
    margin: 0 0 -30px 95px;
    padding: 0;
  }

  .header ul li button{
    margin: 10px 100px 0 0;
  }
  /* Text */

  .black{
    position: relative;
  }

  .text h1{
    margin: 30px 0 20px 0;
  }

  .text span{
    top: 30px;
    left: -10px;
  }

  .text h2{
    margin: 0 0 0 0px;
  }

  .text p{
    margin: 20 0 0 -10px;
    width: 330px;
  }

  .back_image .img1{
    margin: 0 0 0 8px;
  }

  .back_image .img2{
    width: 300px;
    top: 300px;
    left: 10px;
  }

  .back_image .img3{
    width: 100px;
  }

  .back_image .img4, .back_image .img5{
    display: none;
  }

  .black .dot:first-child{
    top: 17em;
    left: 15em;
    display: none;
  }

  .black .dot:nth-child(2){
    top: 26em;
    left: 35em;
    display: none;
  }

  /* Icons */
  .icons{
    left: 25px;
  }
  /* Stacks */

  .stacks{
    margin: 140px 0 -20px 0;
  }
  
  .stacks ul{
    margin: -120px 0 0 0;
  }

  .stacks .js{
    margin: 50px 0 0 0;
  }

  .stacks .css{
    margin: 50px 0 -100px 0;
  }

  .stacks .vetor{
    top: 400px;
    left: -50px;
    width: 380px;
  }
  
  .stacks .vetor2{
    top: 920px;
    left: -60px;
    width: 350px;
    transform: rotate(-40deg)
  }

  /* Projetos */

  .projetos h1{
    margin: -10px 0 40px 0;
  }

  .projetos ul li{
    margin: 40px 0 0 0;
  }

  .projetos ul .siteBlade1 i{
    margin: 20px 0 0 20px;
  }

  .projetos ul .landing i{
    margin: 0 0 0 20px;
  }

  .projetos ul .churras i{
    margin: 18px 0 0 20px;
  }

  .projetos ul .amazing i{
    margin: 19px 0 0 21px;
  }

  /* Sobre Mim */

  .sobre_mim h1{
    margin: -90px 0 60px 0;
  }

  .sobre_mim_dot{
    top: -105px;
    position: absolute;
  
  }

  div .sobre_mim_text{
    width: 300px;
  }

  .sobre_mim_text .dot{
    margin: 10px 0 0 270px;
  }


  .sobre_mim_text h2{
    margin: 10px 0 0 20px;
    width: 400px;
    font-size: 1.2em;
    ;
  }

  .sobre_mim_text p {
    margin: 30px 0 20px 20px;
    width: 250px;
    font-size: 0.9em;
  }

  .sobre_mim_icons{
    margin: 0 0 0 0px;

  }

  .sobre_mim_icons li{
    display: inline-block;
    margin: 0px;
    padding: 0 0 0 0;
  }
  /* Footer */
  
  .footer img{
    width: 200px;
    margin: 0 0 -30px 105px;
    padding: 0;
  }
  
  .footer ul li:nth-child(2){
    margin: 0 90px 0 0;
    padding: 0;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.container:after, .container:before {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3, .grid-1-3-1 {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.grid-1 	{width: 40px;}
.grid-2 	{width: 100px;}
.grid-3 	{width: 160px;}
.grid-4 	{width: 220px;}
.grid-5 	{width: 280px;}
.grid-6 	{width: 340px;}
.grid-7 	{width: 400px;}
.grid-8 	{width: 460px;}
.grid-9 	{width: 520px;}
.grid-10 	{width: 580px;}
.grid-11 	{width: 640px;}
.grid-12 	{width: 700px;}
.grid-13 	{width: 760px;}
.grid-14 	{width: 820px;}
.grid-15 	{width: 880px;}
.grid-16 	{width: 940px;}
.grid-1-3	{width: 260px;}
.grid-1-3-1 {width: 300px;}

@media only screen and (min-width: 768px) and (max-width: 959px) {

.container {
	width: 768px;
}

.grid-1		{width: 28px;}
.grid-2		{width: 76px;}
.grid-3		{width: 124px;}
.grid-4		{width: 172px;}
.grid-5		{width: 220px;}
.grid-6		{width: 268px;}
.grid-7		{width: 316px;}
.grid-8		{width: 364px;}
.grid-9		{width: 412px;}
.grid-10	{width: 460px;}
.grid-11	{width: 508px;}
.grid-12	{width: 556px;}
.grid-13	{width: 604px;}
.grid-14	{width: 652px;}
.grid-15	{width: 700px;}
.grid-16	{width: 748px;}
.grid-1-3	{width: 212px;}
.grid-1-3-1 {width: 234px;}

}

@media only screen and (max-width: 767px) {
.container {
	width: 300px;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3, .grid-1-3-1 {
	width: 300px;
	margin: 0 0 20px 0;
	float: none;
}

}

/* ==========================================================================
   Reset
   ========================================================================== */

/**
 * Remove anchor text-decoration
 */ 

 a {
	text-decoration: none;
}

/**
 * Remove list-style
 */ 

ol, ul {
	list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}

