.font-1{
  font: 700 1.5rem/1 'Inconsolata', sans-serif;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  
}

.font-2-l {
  font: 700 4rem/1.5 'Space Mono', sans-serif;
  letter-spacing: -0.035em;

}

.font-2-s{
  font: 400 1.5rem/1.45 'Space Mono', sans-serif;
  letter-spacing: -0.035em;
}

@media (max-width: 800px){
  .font-2-l{
    font-size: 3rem;
  }

  .font-2-s{
    font-size: 1.125rem;
  }
}