@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Reset */

body, h1, h2, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

body{
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #161616;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
}

*{
  box-sizing: border-box;
}

/* General styles */
body{
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
/* Style */

.header{
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header__logo{
  margin: 32px 0 31px 0;
}

.header__nav li{
  display: inline-block;
  transition: 0.3s;
}

.header__nav li:nth-child(1), .header__nav li:nth-child(2){
  margin: 0 20px;
}

.header__nav li:nth-child(3){
  margin: 0 0 0 20px;
}

.header__nav li img:hover{
  opacity: 0.5;
  transition: 0.3s;
}

/* Division */

.division{
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.division h1{
  text-transform: uppercase;
  font-weight: 700;
  font: 1.1em;
  margin: 33px 0 28px 0;
}

.division p{
  font-weight: 400;
}

/* Hr */

hr{
  height: 0.2px;
  border: none;
  background-color: #d6d6d6;
}

/* Products */

.products{
  max-width: 1150px;
  margin: 0 auto;
  flex-basis: 260px;
}

.products__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.products li{
  margin: 57px 0 65px 0;
}

.products__list img{
  margin-bottom: 23px;
}

.products__list h2{
  font-size: 1.1em;
  font-weight: 400;
}

.products__list p{
  margin-top: 11px;
  font-weight: 700;
}

.products__list span{
  font-size: 1.3em;
  color: #5CA720;
}

/* Contact */

.contact{
  background: #f9f9f9;
  padding: 40px calc((100% - 1150px) / 2);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact__list li{
  padding-bottom: 10px;
}

.contact__list a{
  color: #161616;
  text-decoration: none;
}


.contact__form h2{
  font-size: 1.25em;
  padding-bottom: 18px;
}

.contact__form input{
  width: 397px;
  padding: 15px 169px 15px 13px;
  font-size: 1.25em;
  font-weight: 400;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: 0px;
}

.contact__form input::placeholder{
  color: #A8A4A4;
  width: 400px;
}

.contact__form button{
  margin: 0px -10px;
  border-radius: 0px;
  font-size: 1.25em;
  background: #5CA720;
  color: white;
  font-weight: 700;
  border-radius: 0px 5px 5px 0px;
  letter-spacing: 0.01em;
  border: none;
  padding: 15px 33px;
}

.contact__form input:focus{
  outline: none;
} 
.contact hr{
  border:  0.2px solid #A5A1A1;
}

/* Footer */

.footer{
  background: #f9f9f9;
  padding: 40px calc((100% - 1150px) / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__payment, .footer__socias{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.footer ul li{
  padding: 0 10px;
}

